#### Tuple

In [ ]:
# [] ===> list ====> index-value
# {} ===> dict ====> key:value 
# () ===> tuple ====> index-value

In [3]:
t1 = (12, 3.4, "python", True)
print(type(t1))
print(t1)

<class 'tuple'>
(12, 3.4, 'python', True)

#### Define

In [6]:
t1 = (12, 3.4, "python", True)
t2 = ()
t3 = tuple()
# length ====> len()
print(len(t2))
print(len(t3))
print(len(t1))

0
0
4

In [9]:
t1 = (20,)
print(type(t1))
print(len(t1))

<class 'tuple'>
1

#### Read

In [13]:
t1 = (12, 3.4, "python", True)
print(t1[1])
print(t1[-1])
print(t1[:2]) # tuple

3.4
True
(12, 3.4)

#### Add, Edit, Remov

In [18]:
t1 = (12, 3.4, "python", True)
print(t1, type(t1))
# Modify =====> list()
t1 = list(t1)
print(t1, type(t1))
# add
t1.append(20)
print(t1, type(t1))
t1.insert(1, 200)
print(t1, type(t1))
# Modify ======> tuple()
t1 = tuple(t1)
print(t1, type(t1))

(12, 3.4, 'python', True) <class 'tuple'>
[12, 3.4, 'python', True] <class 'list'>
[12, 3.4, 'python', True, 20] <class 'list'>
[12, 200, 3.4, 'python', True, 20] <class 'list'>
(12, 200, 3.4, 'python', True, 20) <class 'tuple'>

In [19]:
t1 = (12, 3.4, "python", True)
print(t1, type(t1))
# Modify =====> list()
t1 = list(t1)
print(t1, type(t1))
# remove
t1.remove(3.4)
# Modify ======> tuple()
t1 = tuple(t1)
print(t1, type(t1))

(12, 3.4, 'python', True) <class 'tuple'>
[12, 3.4, 'python', True] <class 'list'>
(12, 'python', True) <class 'tuple'>

In [20]:
t1 = (12, 3.4, "python", True)
print(t1, type(t1))
# Modify =====> list()
t1 = list(t1)
print(t1, type(t1))
# edit
t1[1] = 40
print(t1, type(t1))
# Modify ======> tuple()
t1 = tuple(t1)
print(t1, type(t1))

(12, 3.4, 'python', True) <class 'tuple'>
[12, 3.4, 'python', True] <class 'list'>
[12, 40, 'python', True] <class 'list'>
(12, 40, 'python', True) <class 'tuple'>

#### Search

In [21]:
t1 = (12, 3.4, "python", True)
# in, not in 
if 3.4 in t1:
    print("yes")

yes

#### Methods

In [24]:
t1 = (12, 3.4, "python", True, 12, 12)
counter = t1.count(12)
print(counter)
i = t1.index(3.4)
print(i)

3
1

#### Del

In [25]:
t1 = (12, 3.4, "python", True)
del t1

In [26]:
print(t1)

NameError: name 't1' is not defined

#### Sort

In [64]:
t1 = (23, 34, 12, 23, 18, 20)
t2 = tuple(sorted(t1, reverse=True))
print(t2)

(34, 23, 23, 20, 18, 12)

In [33]:
t1 = (23, 34, 12, 23, 18, 20)
t1 = list(t1)
t1.sort()
t1 = tuple(t1)
print(t1)

(12, 18, 20, 23, 23, 34)

#### Points

In [35]:
def new_function(num1, num2):
    result1 = num1 + num2 
    result2 = num1 - num2
    result3 = num1 * num2
    return result1, result2, result3

In [36]:
result = new_function(3, 4)
print(result)

(7, -1, 12)

In [38]:
var1, var2, var3 = new_function(3, 4)
print(var1, var2, var3)

7 -1 12

In [40]:
x = 12, 34, 56 
print(x)

(12, 34, 56)

In [41]:
x, y = 34, 56
print(x, y)

34 56

In [45]:
x, y, *z = 34, 56, 30, 56, 100
print(x, y, z)

34 56 [30, 56, 100]

In [46]:
x, *y, z = 34, 56, 30, 56, 100
print(x, y, z)

34 [56, 30, 56] 100

In [47]:
*x, y, z = 34, 56, 30, 56, 100
print(x, y, z)

[34, 56, 30] 56 100

#### Join

In [48]:
t1 = (12, 34)
t2 = ("python", "java")
t3 = t1 + t2
print(t3)

(12, 34, 'python', 'java')

In [51]:
t1 = (12, 34)
t2 = t1 * 3
print(t2)

(12, 34, 12, 34, 12, 34)

#### zip

In [55]:
names = ["Ali", "Sara", "Diana"]
scores = [13, 18, 20]
age = [12, 17, 19]
info = list(zip(names, scores, age))
print(info)
for n, s, a  in info:
    print(n, s, a)

[('Ali', 13, 12), ('Sara', 18, 17), ('Diana', 20, 19)]
Ali 13 12
Sara 18 17
Diana 20 19

In [57]:
list1 = [12, 34, 56, 70]
for i, v in enumerate(list1):
    print(i, v)

0 12
1 34
2 56
3 70

In [60]:
list1 = [12, 34, 56, 70]
result = tuple(enumerate(list1))
print(result)

((0, 12), (1, 34), (2, 56), (3, 70))

In [62]:
t1 = (12, 34, 56, 70)
result = tuple(enumerate(t1))
print(result)

((0, 12), (1, 34), (2, 56), (3, 70))

In [59]:
names = ("Ali", "Sara", "Diana")
scores = (13, 18, 20)
age = (12, 17, 19)
info = tuple(zip(names, scores, age))
print(info)

(('Ali', 13, 12), ('Sara', 18, 17), ('Diana', 20, 19))

In [67]:
x, *y, z = [12, 23, 12, 45]
print(x, y, z)

12 [23, 12] 45

In [71]:
result = {"Name": "Sara", "Age": 12}, {"Name": "Sara", "Age": 12}
print(result)

({'Name': 'Sara', 'Age': 12}, {'Name': 'Sara', 'Age': 12})

In [ ]:
list1 = [12, 34, 56]
res = list1.pop(12)

In [75]:
name = "Python   "
print(len(name))
name = name.strip()
print(len(name))

9
6