### Install MySql
    1. sudo apt update
    2. sudo apt upgrade
    3. sudo apt install mysql-server
    4. mysql --version
    
    Password
    1. sudo mysql -u root
    2. USE mysql;
    3. ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'yourpass';
    
### Install Mysql.connector (Python Library)
    python -m pip install mysql-connector-python

### Import Library

In [2]:
import mysql.connector

### creating a connection

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="pass"
)
mycursor = mydb.cursor()

### Create new Dataset

In [3]:
sql = "CREATE DATABASE database_1"
mycursor.execute(sql)

### Show all Datasets

In [4]:
sql = "SHOW DATABASES"
mycursor.execute(sql)

In [5]:
mycursor.fetchall()

[('A',),
 ('Company',),
 ('DBblog',),
 ('DBblog2',),
 ('DBblog3',),
 ('DBblog_2',),
 ('GHJKKLK',),
 ('NEW',),
 ('NewOnlineShop',),
 ('None',),
 ('OnlineShop',),
 ('OnlineShop1',),
 ('OnlineShop2',),
 ('OnlineShop20',),
 ('OnlineShop3',),
 ('Online_Shop',),
 ('PythonDB',),
 ('PythonDB1',),
 ('PythonDB2',),
 ('PythonDB3',),
 ('Shop',),
 ('Shop8',),
 ('ShopDB',),
 ('Shop_Online',),
 ('Shop_db',),
 ('Students_16',),
 ('UNIVER_1',),
 ('University',),
 ('University12',),
 ('University2',),
 ('a',),
 ('b1',),
 ('bank',),
 ('bookstore',),
 ('company',),
 ('course',),
 ('d1',),
 ('database1',),
 ('database_1',),
 ('db2',),
 ('db3',),
 ('db_2',),
 ('db_class2',),
 ('db_online_shop',),
 ('fa_university1',),
 ('fani',),
 ('image_gallery',),
 ('image_gallery1',),
 ('img_gallery',),
 ('information_schema',),
 ('library_db',),
 ('mydatabase',),
 ('mysql',),
 ('new_shop',),
 ('online_shop',),
 ('p_online_shop',),
 ('performance_schema',),
 ('phone_book',),
 ('products_16',),
 ('python1',),
 ('python_t',),
 ('school',),
 ('school1',),
 ('school2',),
 ('shop',),
 ('shop_2',),
 ('student',),
 ('studentData',),
 ('sys',),
 ('test',),
 ('test10',),
 ('uni_12',),
 ('university',),
 ('upmarket',),
 ('weblogDB',)]

### Remove a Dataset

In [6]:
sql = "DROP DATABASE test"
mycursor.execute(sql)

### Connecting to "database_1"

In [37]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "pass",
    database = "database_1"
)

In [38]:
mycursor = mydb.cursor()

### Creating tables

In [18]:
sql = """
        CREATE TABLE Users(
        user_id int NOT NULL auto_increment,
        first_name varchar(255),
        last_name varchar(255) NOT NULL,
        age int,
        PRIMARY KEY (user_id)
        );
    """

In [20]:
try:
    mycursor.execute(sql)
except:
    print("Error")

Error

In [11]:
sql = """
        CREATE TABLE Orders(
        order_id int NOT NULL auto_increment,
        name varchar(255) NOT NULL,
        price int NOT NULL,
        user_id int NOT NULL,
        PRIMARY KEY (order_id),
        FOREIGN KEY (user_id) REFERENCES Users (user_id)
        );
    """

In [21]:
try:
    mycursor.execute(sql)
except:
    print("Error")

Error

### Show Tables

In [13]:
sql = "SHOW TABLES"
mycursor.execute(sql)

In [14]:
mycursor.fetchall()

[('Orders',), ('Users',)]

### DROP TABLE

In [ ]:
sql = "DROP TABLE Users"
#mycursor.execute(sql)

### Insert data

In [54]:
sql = """
        INSERT INTO Users 
        (first_name, last_name, age)
        VALUES 
        (%s, %s, %s)
      """

In [55]:
first_name = "Diana"
last_name = "New"
age = 18

In [56]:
mycursor.execute(sql, (first_name, last_name, age))

In [57]:
mydb.commit()

In [18]:
sql = """
        INSERT INTO Orders (name, price, user_id)
        VALUES
        ('p1', 100, 1),
        ('p2', 200, 1),
        ('p3', 300, 2)
        
    """

In [19]:
mycursor.execute(sql)

In [20]:
mydb.commit()

### Select

In [23]:
sql = "SELECT * FROM Orders"
mycursor.execute(sql)

In [24]:
mycursor.fetchall()

[(1, 'p1', 100, 1), (2, 'p2', 200, 1), (3, 'p3', 300, 2)]

### Remove data

In [58]:
sql = "DELETE FROM Orders WHERE name = %s"
name = input("name for remove: ") # p4
mycursor.execute(sql, (name,))

In [59]:
mydb.commit()

### Update data

In [15]:
sql = "SELECT * FROM Orders"
mycursor.execute(sql)

In [16]:
mycursor.fetchall()

[(1, 'p1', 400, 1), (3, 'p3', 300, 2)]

In [13]:
sql = """
        UPDATE Orders SET price = 400 
        WHERE price = 150
      """
mycursor = mydb.cursor()

In [14]:
mycursor.execute(sql)

In [17]:
mydb.commit()

### Join

### INNER JOIN

In [22]:
sql = """
      SELECT first_name, name FROM Orders INNER JOIN Users
      ON Orders.user_id = Users.user_id
      """

In [23]:
mycursor.execute(sql)

In [24]:
mycursor.fetchall()

[('A', 'p1'), ('A', 'p3')]

### LEFT JOIN

In [48]:
sql = """
        SELECT COUNT(*) FROM Users LEFT JOIN Orders 
        ON 
            Orders.user_id = Users.user_id 
        WHERE 
            Orders.user_id IS NULL
      """

In [49]:
mycursor.execute(sql)

In [50]:
result = mycursor.fetchall()

In [51]:
result

[(1,)]

### RIGHT JOIN

In [ ]:
sql = """
        SELECT COUNT(*) FROM Orders RIGHT JOIN Users
        ON 
            Orders.user_id = Users.user_id 
        WHERE 
            Orders.user_id IS NULL
      """