### Session05 (List)

In [1]:
numbers = [34, 78, 23, 45, 89]
list2 = [12, 17.8, 'python', True, None]
print(list2)

[12, 17.8, 'python', True, None]

In [20]:
var1 = None
print(type(var1))

<class 'NoneType'>

In [3]:
list2 = []
list3 = list()
print(list3)
print(type(list3))

[]
<class 'list'>

In [5]:
## 0, 0.0, '', False, [], None
print(bool([]))
print(bool(None))

False
False

In [6]:
## len()  =====> length
list1 = [12]
list2 = list()
print(len(list1), len(list2))

1 0

### Read

In [7]:
scores = [12.6, 18.9, 16.]
print(scores)

[12.6, 18.9, 16.0]

In [11]:
scores = [12.6, 18.9, 16.]
#index     0      1    2
##         -3    -2   -1
print(scores[1])
#print(scores[8]) # IndexError
print(scores[-1])

18.9
16.0

In [15]:
scores = [12.6, 18.9, 16., 12.5, 18, 20, 18]
list2 = scores[0:1]
print(list2)
# start 0
# stop : edn of the list
# step: 1
print(scores[1::3]) # 1(18.9), 4(18)
print(scores)

[12.6]
[18.9, 18]
[12.6, 18.9, 16.0, 12.5, 18, 20, 18]

### Add

In [16]:
scores = [12.6, 18.9, 16.]
#          0      1    2
scores.append(100)
print(scores)

[12.6, 18.9, 16.0, 100]

In [19]:
scores = [12.6, 18.9, 16.]
## index ???? 1
scores.insert(1, 200)
print(scores)

[12.6, 200, 18.9, 16.0]

In [21]:
scores = [12.6, 18.9, 16.]
## index ???? 1
scores.insert(1, [200, 456])
print(scores)

[12.6, [200, 456], 18.9, 16.0]

### Edit

In [23]:
scores = [12.6, 18.9, 16., 45, 100]
scores[1] = 300 
print(scores)

[12.6, 300, 16.0, 45, 100]

In [27]:
scores = [12.6, 18.9, 16., 45, 100]
scores[1:3] = [300, 300] 
print(scores)

[12.6, 300, 45, 100]

### Remove

In [ ]:
scores = [12.6, 18.9, 16., 45, 100]
# value    12.6, 18.9, 16., 45, 100
# index     0     1    2    3    4
# index ----> value

In [37]:
scores = [12.6, 18.9, 16., 45, 100, 18.9]
result = scores.remove(18.9)
print(scores)
print(result)
#scores.remove(500) # ValueError

[12.6, 16.0, 45, 100, 18.9]
None

In [38]:
scores = [12.6, 18.9, 16., 45, 100, 18.9]
#          0      1    2
scores.pop(2)
print(scores)
#scores.pop(20) #IndexError
result = scores.pop()
print(scores, result)

[12.6, 18.9, 45, 100, 18.9]
[12.6, 18.9, 45, 100] 18.9

In [39]:
scores = [12.6, 18.9, 16., 45, 100, 18.9]
scores.clear()
print(scores)

[]

In [41]:
scores = [12.6, 18.9, 16., 45, 100, 18.9]
del scores[0:3]
print(scores)

[45, 100, 18.9]

In [42]:
scores = [12.6, 18.9, 16., 45, 100, 18.9]
del scores
print(scores)

NameError: name 'scores' is not defined

### Search

In [46]:
scores = [12.6, 18.9, 16., 45, 100, 18.9]
print(19 not in scores)
if 19 in scores:
    scores.remove(19)
else:
    scores.append(19)
print(scores)

True
[12.6, 18.9, 16.0, 45, 100, 18.9, 19]

### Loop in list

In [47]:
for i in "python":
    print(i)

p
y
t
h
o
n

In [48]:
scores = [12.6, 18.9, 16., 45]
for s in scores:
    print(s)

12.6
18.9
16.0
45

In [49]:
for i in range(4):
    print(i)

0
1
2
3

In [79]:
result = list(range(4))
print(type(result))
print(result)

<class 'list'>
[0, 1, 2, 3]

In [54]:
## Value
scores = [12.6, 18.9, 16., 45]
for s in scores:
    print(s)

12.6
18.9
16.0
45

In [55]:
# Index
scores = [12.6, 18.9, 16., 45]
for i in range(len(scores)): # 4 ====> range(4)
    print(i)

0
1
2
3

In [56]:
# Index, value
scores = [12.6, 18.9, 16., 45]
for i in range(len(scores)): # 4 ====> range(4)
    print(i, scores[i]) # scores[0], scores[1]

0 12.6
1 18.9
2 16.0
3 45

In [57]:
# Index, value
scores = [12.6, 18.9, 16., 45]
for i, v in enumerate(scores):
    print(i, v)

0 12.6
1 18.9
2 16.0
3 45

In [58]:
result = list(enumerate(scores))
print(result)

[(0, 12.6), (1, 18.9), (2, 16.0), (3, 45)]

### copy

In [61]:
num1 = 12
y = num1
print(f"num1: {num1}, y:{y}")
num1 = 27
print(f"num1: {num1}, y:{y}")

num1: 12, y:12
num1: 27, y:12

In [63]:
list1 = [5, 8, 10]
list2 = list1
print(f"before edit: list1 {list1}, list2: {list2}")
list1.append(450)
print(f"before edit: list1 {list1}, list2: {list2}")

before edit: list1 [5, 8, 10], list2: [5, 8, 10]
before edit: list1 [5, 8, 10, 450], list2: [5, 8, 10, 450]

In [64]:
list1 = [5, 8, 10]
list2 = list1[:]
print(f"before edit: list1 {list1}, list2: {list2}")
list1.append(450)
print(f"before edit: list1 {list1}, list2: {list2}")

before edit: list1 [5, 8, 10], list2: [5, 8, 10]
before edit: list1 [5, 8, 10, 450], list2: [5, 8, 10]

In [65]:
list1 = [5, 8, 10]
list2 = list(list1)
print(f"before edit: list1 {list1}, list2: {list2}")
list1.append(450)
print(f"before edit: list1 {list1}, list2: {list2}")

before edit: list1 [5, 8, 10], list2: [5, 8, 10]
before edit: list1 [5, 8, 10, 450], list2: [5, 8, 10]

In [66]:
list1 = [5, 8, 10]
list2 = list1.copy()
print(f"before edit: list1 {list1}, list2: {list2}")
list1.append(450)
print(f"before edit: list1 {list1}, list2: {list2}")

before edit: list1 [5, 8, 10], list2: [5, 8, 10]
before edit: list1 [5, 8, 10, 450], list2: [5, 8, 10]

### points

In [67]:
list1 = [5, 8, 10, 23]
i = list1.index(10)
print(i)

2

In [68]:
list1 = [5, 8, 10, 23, 34, 10, 10]
c_num = list1.count(10)
print(c_num)

3

In [70]:
list1 = [67, 3, 17, 5, 8, 10, 23]
list1.sort(reverse=True)
print(list1)

[67, 23, 17, 10, 8, 5, 3]

In [71]:
list1 = [67, 3, 17, 5, 8, 10, 23]
max_num = max(list1)
min_num = min(list1)
sum_list = sum(list1)
len_list = len(list1)
avg = sum_list / len_list
print(max_num, min_num, sum_list, len_list, avg)

67 3 133 7 19.0

In [75]:
x = 5
y = 2
print(x // y)

2

In [80]:
name = "python"
list2 = list(name)
print(list2)

['p', 'y', 't', 'h', 'o', 'n']