## MongoDb

#### CRUD operations: Create, Read, Update, Delete

### Create Database

In [ ]:
var1 = "use ProductStore"

### db

In [ ]:
## show collections
var1 = "show collections"

## show dbs
var2 = "show dbs"

## show current database
var3 = "db"

### Create Collections

In [ ]:
var1 = 'db.createCollection("Products")'
var2 = 'db.createCollection("Customers")'

### Insert

In [ ]:
# Insert One
var1 = '''db.Products.insertOne({
  name: "Laptop",
  category: "Electronics",
  price: 999.99,
  details: { brand: "TechBrand", model: "TB-1000" }
})'''

In [ ]:
# Insert Many
var2 = '''
    db.customers.insertMany([
    { name: "Ali", email: "ali@gmail.com", totalOrders: 3 },
    { name: "sara", email: "sara@gmail.com", totalOrders: 5 },
    { name: "Diana", email: "diana@gmail.com", totalOrders: 2 }
])'''

### Find

In [ ]:
## find
var1 = "db.Products.find()"
var2 = "db.Products.find({name:'Laptop'})"
var4 = 'db.Products.find({}, { name: 1, _id: 0 })'

In [ ]:
## findOne
var1 = "db.Products.findOne({name:'Laptop'})"

### Comparison
    $eq: Equal to
    $ne: Not equal to
    $gt: Greater than
    $gte: Greater than or equal
    $lt: Less than
    $lte: Less than or equal

### Logical
    $and: Both queries match
    $or: Either query matches
    $not: Query does not match

In [1]:
var1 = 'db.customers.find({ totalOrders: { $eq: 3 } })'
var2 = 'db.Customers.find({ totalOrders: { $gt: 3 } })'
var3 = 'db.Customers.find({ totalOrders: { $gte: 3 } })'
var4 = 'db.Customers.find({ totalOrders: { $lt: 3 } })'
var5 = 'db.Customers.find({ totalOrders: { $lte: 2 } })'
var6 = 'db.Customers.find({ $and: [{ name: "Ali" }, { totalOrders: 3 }] })'
var7 = 'db.Customers.find({ $or: [{ name: "Ali" }, { totalOrders: { $gt: 4 } }] })'
var9 = 'db.Customers.find({ name: { $not: { $eq: "Ali" } } })'

### delete

In [ ]:
## delete One
var1 = 'db.Products.deleteOne({ "name": "Laptop" })'

## delete Many
var2 = 'db.Customers.deleteMany({ "totalOrders": { $gt: 2 } })'

## update

In [ ]:
## update one
var1 = '''db.Products.updateOne(
    { "name": "Laptop" },  
    { $set: { "price": 1099.99 } }  
    )'''

## update many
var2 = '''db.Customers.updateMany(
  { "name": "Ali" }, 
  { $set: { "email": "ali_new@gmail.com" } }  
)'''

### Drop

In [ ]:
## Drop Database
var1 = 'db.dropDatabase()'

## Drop Collection
var2 = 'db.Customers.drop()'