### Pandas

In [1]:
# pip install pandas 
import numpy as np
import pandas as pd

### Data

#### Series

In [5]:
data = [2, 5, 3.6]
s1 = pd.Series(data)
s1
print(type(s1))
s1

<class 'pandas.core.series.Series'>

0    2.0
1    5.0
2    3.6
dtype: float64

In [9]:
data = [1, 4, 6, 34, 10]
index_ = ["a", "b", "c", "d", "e"]
s2 = pd.Series(data, index=index_)
#print(s2)
s2[0]

1

In [10]:
s2 = pd.Series({"x":20, "y":34})
s2

x    20
y    34
dtype: int64

In [11]:
# +, -, *, /
s_1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s_2 = pd.Series([4, 6, 7, 8], index=['a', 'g', 'h', 'b'])
s_3 = s_1 + s_2 
s_3

a     5.0
b    10.0
c     NaN
g     NaN
h     NaN
dtype: float64

#### DataFarme

In [13]:
data = {
    "Name": ["Ali", "Sara", "Diana"],
    "Age": [12, 23, 18],
    "Score": [16, 19, 15.4]
}
df = pd.DataFrame(data, index = ["a", "b", "c"])
df

    Name  Age  Score
a    Ali   12   16.0
b   Sara   23   19.0
c  Diana   18   15.4

In [14]:
type(df)

pandas.core.frame.DataFrame

In [16]:
type(df["Age"])

pandas.core.series.Series