### dictionay

In [4]:
book_details = ["book1", 2000, 1990, 2010]
book_details1 = {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
    }
print(book_details1)
print(book_details1["name"])
print(type(book_details1))

{'name': 'book1', 'price': 2000, 'page': 1990, 'year': 2010}
book1
<class 'dict'>

In [7]:
dict1 = {}
dict2 = dict()
print(type(dict1), type(dict2))
len_dict1 = len(dict1)
print(len_dict1)

<class 'dict'> <class 'dict'>
0

### read

In [10]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
    }
print(book["shop_name"]) # KeyError

KeyError: 'shop_name'

In [13]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
    }
result = book.get("shop_name")
print(result)

result = book.get("shop_name", "Not Found")
print(result)

None
Not Found

### Add

In [14]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
    }
book["shop_name"] = "shop1"
book["lang"] = "English"
print(book)

{'name': 'book1', 'price': 2000, 'page': 1990, 'year': 2010, 'shop_name': 'shop1'}

In [16]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
    }
book.update({"book_shop": "shop1", "lang": "English"})
print(book)

{'name': 'book1', 'price': 2000, 'page': 1990, 'year': 2010, 'book_shop': 'shop1', 'lang': 'English'}

In [17]:
book= {
    "name":"book1",
    "price": 2000,
    }
details = {
    "page": 1990,
    "year":2010,
    "lang": "English"
}
book.update(details)
print(book)

{'name': 'book1', 'price': 2000, 'page': 1990, 'year': 2010, 'lang': 'English'}

### Edit

In [19]:
book= {
    "name":"book1",
    "price": 2000,
    }
book["shop_name"] = "s1"
print(book)
book["name"] = "new name"
print(book)

{'name': 'book1', 'price': 2000, 'shop_name': 's1'}
{'name': 'new name', 'price': 2000, 'shop_name': 's1'}

In [23]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
    }
details = {
    "page": 2000,
    "year":2012,
    "lang": "English"
}
book.update(details)
print(book)
details["name"] = "book5"
print(details)

{'name': 'book1', 'price': 2000, 'page': 2000, 'year': 2012, 'lang': 'English'}
{'page': 2000, 'year': 2012, 'lang': 'English', 'name': 'book5'}

### Remove

In [29]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}
result = book.pop("name")
print(book, result)

result = book.pop("shop_name", "shop_name not found")
print(book, result)

{'price': 2000, 'page': 1990, 'year': 2010} book1
{'price': 2000, 'page': 1990, 'year': 2010} shop_name not found

In [31]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}
result = book.popitem()
print(book, result)

{'name': 'book1', 'price': 2000, 'page': 1990} ('year', 2010)

In [32]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}
del book["name"]
print(book)

{'price': 2000, 'page': 1990, 'year': 2010}

In [34]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}
book.clear()
print(book)

{}

In [33]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}
del book 
print(book)

NameError: name 'book' is not defined

### Search

In [45]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}

book_keys = list(book.keys())
print(book_keys)
book_values = book.values()
print(book_values)
book_items = list(book.items())
print(book_items[2])

['name', 'price', 'page', 'year']
dict_values(['book1', 2000, 1990, 2010])
('page', 1990)

In [42]:
if "year" in book.keys():
    print("yes")

if 2000 in book.values():
    print("yes")

if ("price", 2010) in book.items():
    print("yes")
else:
    print("no")

yes
yes
no

In [46]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}

if "year" in book:
    print("yes")

yes

### loop

In [47]:
book= {
    "name":"book1",
    "price": 2000,
    "page": 1990,
    "year":2010
}
for k in book:
    print(k, end=" ")

name price page year

In [52]:
for k, v in book.items():
    print(k, v)

name book1
price 2000
page 1990
year 2010

In [50]:
for v in book.values():
    print(k, end=" ")

2010 2010 2010 2010

### points

In [54]:
student = {
    "name": "n1",
    "class": "c1",
    "scores": [18, 18.3, 16, 20]
}
print(student["scores"])
print(student["scores"][1])

[18, 18.3, 16, 20]
18.3

In [56]:
student = {
    "name": "n1",
    "class": "c1",
    "scores": {"math": 18, "python":19}
}
print(student["scores"])
print(student["scores"]["math"])

{'math': 18, 'python': 19}
18

In [60]:
s1 = {
    "name": "n1",
    "class": "c1",
    "scores": {"math": 18, "python":19}
}

s2 = {
    "name": "n2",
    "class": "c1",
    "scores": {"math": 14, "python":8}
}
students = [s1, s2]
print(students)
print(students[0])
print(students[0]["scores"]["math"])

[{'name': 'n1', 'class': 'c1', 'scores': {'math': 18, 'python': 19}}, {'name': 'n2', 'class': 'c1', 'scores': {'math': 14, 'python': 8}}]
{'name': 'n1', 'class': 'c1', 'scores': {'math': 18, 'python': 19}}
18

In [65]:
s1 = {
    "name": "n1",
    "class": "c1",
    "scores": {"math": 18, "python":19}
}

s2 = {
    "name": "n2",
    "class": "c1",
    "scores": {"math": 14, "python":8}
}

s3 = {
    "name": "n3",
    "class": "c2",
    "scores": {"math": 17, "python":8}
}

students = {"S1213":s1, "S1567": s2}
print(students)
print(students["S1213"])
print(students["S1213"]['name']) # n1

students["S2345"] = s3  # 3
print(students["S2345"])

students["S1213"] = s3 # Edit name: n3
print(students["S1213"])

{'S1213': {'name': 'n1', 'class': 'c1', 'scores': {'math': 18, 'python': 19}}, 'S1567': {'name': 'n2', 'class': 'c1', 'scores': {'math': 14, 'python': 8}}}
{'name': 'n1', 'class': 'c1', 'scores': {'math': 18, 'python': 19}}
n1
{'name': 'n3', 'class': 'c2', 'scores': {'math': 17, 'python': 8}}
{'name': 'n3', 'class': 'c2', 'scores': {'math': 17, 'python': 8}}

In [67]:
products = []
for i in range(3):
    name = input("name: ")
    price = int(input("price: "))
    product = {
        "name" : name,
        "price": price
    }
    products.append(product)
print(products)

[{'name': 'p1', 'price': 200}, {'name': 'p2', 'price': 300}, {'name': 'p3', 'price': 400}]

In [70]:
products = {}
for i in range(3):
    name = input("name: ")
    price = int(input("price: "))
    code = input("product code: ")
    product = {
        "name" : name,
        "price": price
    }
    products[code] = product
    print(product)
print(products)
print(len(products))

{'name': 'p1', 'price': 200}
{'name': 'p2', 'price': 400}
{'name': 'p3', 'price': 500}
{'123': {'name': 'p2', 'price': 400}, '234': {'name': 'p3', 'price': 500}}
2

In [ ]:
products = {}
for i in range(3):
    name = input("name: ")
    price = int(input("price: "))
    code = input("product code: ")
    product = {
        "name" : name,
        "price": price
    }
    if code not in products:
        products[code] = product
        print(product)
print(products)
print(len(products))

In [69]:
print(products[1]["name"])

p2